* {
    box-sizing: border-box;
    margin: 0;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header {
    padding: 20px 40px;
    color: var(--secondary-color);
    background-color: var(--main-color);
}
.nav-item:hover {
    text-decoration: underline;
    text-underline-offset: 10px;
}
section {
    position: relative;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 20%;
}
#mail{
    position: absolute;
    top: 10%;
    left: -80%;
}
section > div {
   padding: 20px;
   line-height: 1.5;
}
section h2 {
    font-size: xx-large;
    font-weight: 500;
    padding: 20px 0;
}
section button {
    margin-top: 20px;
}
.taj {
    text-align: justify;
}
#space {
    padding: 0 10px;
    font-size: 20px;
}
.group-btn {
    display: flex;
    gap: 15px;
}
.group-btn a {
    text-decoration: none;
    color: var(--secondary-color);
}
button {
    padding: 12px 80px;
    border: none;
    border-radius: 6px;
    font-weight: 600;
    background: var(--main-color);
    color: white;
}
button:hover {
    cursor: pointer;
    opacity: 0.5;
}
button:active {
    transform: scale(0.98);
}
#outline {
    background: transparent;
    color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
}
#outline a {
    color: var(--secondary-color);
}
#jumbotron {
    border-radius: 0;
    position: absolute;
    top: 0;
    left: 0;
    filter: brightness(0.4);
    z-index: -1;
    width: 100%;
    height: 700px;
}
.profile {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5% 0;
    gap: 15px;
}
.profile img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    object-fit: cover;
}
.card {
    border: 2px solid var(--secondary-color-border);
    border-radius: 12px;
    text-align: start;
    overflow: hidden;
    transition: 0.2s;
}
.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 0.2s;
    transform: scale(1.02);
}
.filter {
    display: flex;
    justify-content: space-between;
}
.dropdown {
    position: relative;
}

.dropbtn {
    padding: 15px;
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.dropdown-content {
    width: 250px;
    display: none;
    border: 1px solid var(--main-color);
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    margin-top: 4px;
    z-index: 5;
}

.dropdown-content ul {
    padding: 0;
    margin: 0;
    width: 100%;
}

.dropdown-content ul li {
    padding: 10px;
    list-style: none;
    width: 100%;
    transition: 0.2s;
}

.dropdown-content ul li:hover {
    background-color: var(--secondary-color-border);
}

.dropdown-content ul li a {
    text-decoration: none;
    color: var(--main-color);
    display: block;
    width: 100%;
}

.list-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.card h3, .card p {
    padding: 0 12px;
}
.card h3 {
    font-size: 16px;
    font-weight: 500;
    padding-top: 10px;
}
.card p {
    font-weight: 600;
    min-height: 50px;
    font-size: 20px;
    padding-bottom: 15px;
}
.card bdi {
    padding: 10px;
}
.list-card .card{
    position: relative;
    background-color: var(--secondary-color);
}
.type {
    padding: 5px;
    background-color: var(--secondary-color);
    border-radius: 0 0 12px 0;
    position: absolute;
}
.list-card .card img {
    width: 100%;
    height: 340px;
    object-fit: cover;
}
.mockup {
    position: relative;
    width: 400px;
    height: 400px;
    margin: auto;
}
.mockup img {
    top: -20%;
    left: -30%;
    z-index: -1;
    position: absolute;
}

.card-skill {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
    gap: 25px;
}
.skill {
    display: flex;
    padding: 10px;
    border: 2px solid var(--secondary-color-border);
    font-size: 18px;
    font-weight: 600;
}
.skill img {
    width: 100px;
    height: 100px;
}
.text-group {
    text-wrap: wrap;
    display: grid;
    max-width: 250px;
    padding: 0 15px;
    align-items: center;
    justify-items: start;
    font-weight: 400;
}
.contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    padding: 40px 0;
    width: 100%;
}
.contact .text-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    display: grid;
    justify-items: start;
}
form label {
    font-size: 16px;
    font-weight: 500;
    margin-top: 15px;
}
form input {
    width: 400px;
    height: 35px;
    margin-top: 8px;
    padding: 5px 10px;
    border: 2px solid var(--secondary-color-border);
    border-radius: 6px;
}
.text-group h3 {
    font-weight: 500;
}
.text-group p {
    text-align: start;
    font-size: 16px;
}
.mockup {
    position: relative;
}
:root {
    --main-color: #1F2937;
    --secondary-color: #ffffff;
    --secondary-color-border: #d9d9d9;
}

